<div class="mat-card col-12 col-sm-9 col-md-6 mat-elevation-z8">
  <mat-card class="col-12 col-lg-6" id="ejemplo">
    <mat-card-header>
      <mat-card-title color="primary">login</mat-card-title>
      <mat-card-subtitle>Formulario.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="login" (ngSubmit)="ingresar()">
        <mat-form-field>
          <input matInput placeholder="N° de Código" formControlName="codigoCine" required>
          <mat-error *ngIf="!codigoCineValido()">{{getErrorMessage()}}</mat-error>
          <mat-hint *ngIf="!codigoCineDirty() || codigoCineValido()" align="start">Usuario</mat-hint>
          <mat-hint *ngIf="!codigoCineDirty() || codigoCineValido()" align="start">Contraseña</mat-hint>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button id="ingresar" mat-raised-button color="primary">Ingresar</button>
    </mat-card-actions>
  </mat-card>
</div>